* {
    margin: 0;
    padding: 0;
    border: 0;
}

.main {
    background-color: hsl(120, 8%, 95%);
    height: 100vh;
    width: 100%;
    -webkit-transform: scaleY(-1, 180deg);
    transform: scaleY(-1, 180deg);
}

.main img {
    position: relative;
    justify-items: center;
    align-items: center;
    left: 35%;
    height: 100vh;
    width: 16cm;
}

.main h3 {
    color: black;
    opacity: 0.8;
    font-size: 15.3px;
    font-family: monospace;
    height: 10px;
    width: 23px;
    background: rgba(204, 198, 198, 1);
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
    position: relative;
    bottom: 74.7%;
    left: 52.6%;
}

.main h3 span {
    font-size: 14px;
    opacity: 1;
}

.main h3 strong {
    font-size: 14px;
    opacity: 10;
}

.main h4 {
    color: black;
    font-size: 11.9px;
    height: 10px;
    font-family: sans-serif;
    opacity: 0.8;
    width: 200px;
    background: rgba(204, 198, 198, 1);
    font-weight: 600;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
    bottom: 72.9%;
    left: 46.4%;
}

.main h5 {
    color: black;
    font-size: 11.8px;
    height: 10px;
    font-family: 'Cormorant Garamond', serif;
    background: rgba(204, 198, 198, 1);
    opacity: 1;
    backface-visibility: hidden;
    width: 125px;
    font-style: normal;
    font-weight: 1000;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    bottom: 71.5%;
    left: 46.4%;
}

.main .photo {
    position: relative;
    float: right;
    bottom: 90.5%;
    right: 25.7rem;
}

.main .photo img {
    position: relative;
    float: right;
    height: 2.3cm;
    width: 2.8cm;
    bottom: 50%;
}